<div class="main-content" >
    <div class="container-fluid">
        <div class="row" >
            <div class="col-lg-12 col-md-12 col-sm-3">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">business_center</i>
                        </div>
                        <h3 class="card-title">Products Sales</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <mat-radio-group formControlName="radioOptions">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <mat-radio-button  value="2">

                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="pickerFrom"
                                                           [attr.disabled]="form['radioOption'] == '2'"
                                                           placeholder="Date From"
                                                           formControlName="dateFrom">
                                                    <mat-datepicker-toggle matSuffix
                                                                           [attr.disabled]="form['radioOption'] == '2'"
                                                                           [for]="pickerFrom"></mat-datepicker-toggle>
                                                    <mat-datepicker #pickerFrom></mat-datepicker>
                                                </mat-form-field>


                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="pickerTo"
                                                           [attr.disabled]="form['radioOption'] == '2'"
                                                           placeholder="Date To"
                                                           formControlName="dateTo">
                                                    <mat-datepicker-toggle matSuffix
                                                                           [attr.disabled]="form['radioOption'] == '2'"
                                                                           [for]="pickerTo"></mat-datepicker-toggle>
                                                    <mat-datepicker #pickerTo></mat-datepicker>
                                                </mat-form-field>

                                            </mat-radio-button>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <mat-radio-button  value="1">
                                                <mat-form-field>
                                                    <mat-select formControlName="timeOption"
                                                                [attr.disabled]="form['radioOption'] == '1'">
                                                        <mat-option  *ngFor="let t of time" value={{t}}>
                                                                {{t}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </mat-radio-button>
                                        </div>
                                    </mat-radio-group>
                                </div>


                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(value)]="selected">
                                            <mat-option value="All Categories">All Categories</mat-option>
                                            <mat-option *ngFor="let cat of categoryName" value={{cat.NAME}}>
                                                {{cat.NAME}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <button mat-raised-button type="submit" [disabled]="!form.valid">Search</button>
                                </div>
                            </div>
                        <div>
                            <mat-spinner mode="indeterminate" *ngIf="showProgress"></mat-spinner>
                        </div>
                        </form>

                        <mat-table *ngIf="hasData" class="table table-striped"  [dataSource]="dataSource" matSort >

                            <ng-container  matColumnDef="productName" sticky>
                                <mat-header-cell *matHeaderCellDef class="price text-warning"> Product</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.productName}}</mat-cell>
                                <mat-footer-cell *matFooterCellDef class="price"> Total </mat-footer-cell>
                            </ng-container>

                            <ng-container matColumnDef="catName">
                                <mat-header-cell *matHeaderCellDef class="price text-warning"> Category</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.catName}}</mat-cell>
                                <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                            </ng-container>
                       
                            <ng-container matColumnDef="qtys">
                                <mat-header-cell *matHeaderCellDef class="price text-warning"> Qty</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.qtys}}</mat-cell>
                                <mat-footer-cell *matFooterCellDef class="price"></mat-footer-cell>
                            </ng-container>

                            <!-- <ng-container matColumnDef="prices"> 
                                <mat-header-cell *matHeaderCellDef class="price text-warning"> Price</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.prices | currency}}</mat-cell>
                                <mat-footer-cell *matFooterCellDef>  </mat-footer-cell> 
                            </ng-container> -->

                            <ng-container matColumnDef="sum" stickyEnd>
                                <mat-header-cell *matHeaderCellDef class="price text-warning"> Total</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{calPriceWithTax(element.prices,element.qtys) | currency}}</mat-cell> 
                               <!-- <mat-footer-cell *matFooterCellDef class="price"> {{totalPrice | currency}} </mat-footer-cell> -->
                               <!-- <mat-cell *matCellDef="let element"> {{element.totals | currency}}</mat-cell> -->
                               <mat-footer-cell *matFooterCellDef class="price"> {{getTotal() | currency}} </mat-footer-cell> 
                               
                            </ng-container>

                            <mat-header-row class="text-warning" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                        </mat-table>

                        <mat-paginator *ngIf="hasData" [pageSizeOptions]="[50,100,500,1000]" showFirstLastButtons></mat-paginator>
                        <h3 *ngIf="!(hasData||showProgress)">No Result</h3>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>


<!--<div class="mat-elevation-z8">-->
<!--<mat-table [dataSource]="dataSource">-->

<!--&lt;!&ndash; Position Column &ndash;&gt;-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--</ng-container>-->

<!--&lt;!&ndash; Name Column &ndash;&gt;-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--</ng-container>-->

<!--&lt;!&ndash; Weight Column &ndash;&gt;-->
<!--<ng-container matColumnDef="weight">-->
<!--<th mat-header-cell *matHeaderCellDef> Weight </th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
<!--</ng-container>-->

<!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--<ng-container matColumnDef="symbol">-->
<!--<th mat-header-cell *matHeaderCellDef> Symbol </th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
<!--</ng-container>-->

<!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</mat-table>-->

<!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
<!--</div>-->