<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon"><i class="material-icons">assignment</i></div>
                        <h4 class="card-title">Edit Category</h4>
                        <p class="card-category">Complete your Category</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Category Name">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button  class="btn btn-primary pull-right">Update</button>
                            <button mat-raised-button  class="btn btn-danger pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
