<div class="main-content">
    <div class="container-fluid">
        <div class="row" [hidden]="submitted">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">User Profile</h4>
                        <div *ngIf="!isAdd()">
                            <p class="card-category">Edit</p>
                        </div>
                        <div *ngIf="isAdd()">
                            <p class="card-category">Add</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="row">
                                <!--<div class="col-md-5">-->
                                <!--<mat-form-field class="example-full-width">-->
                                <!--<input matInput placeholder="Company (disabled)" disabled>-->
                                <!--</mat-form-field>-->
                                <!--</div>-->

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Username" formControlName="username" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email Address" formControlName="email"
                                            type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="text example-full-width">
                                        <input matInput placeholder="Password" formControlName="password"
                                            type="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="URL" formControlName="url" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Port" formControlName="port" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="isAdmin()">
                                <div class="col-md-6">
                                    <mat-radio-group formControlName="status" *ngIf="isAdd()">
                                        <mat-radio-button class="example-margin" value='active' checked>Actived</mat-radio-button>
                                        <mat-radio-button class="example-margin" value='disabled'>Disabled</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-radio-group formControlName="status" *ngIf="isEdit()">
                                            <mat-radio-button class="example-margin" value='active'>Actived</mat-radio-button>
                                            <mat-radio-button class="example-margin" value='disabled'>Disabled</mat-radio-button>
                                        </mat-radio-group>
                                </div>
                                <div class="col-md-2">
                                    <label>Role </label>
                                </div>
                                <div class="col-md-4">
                                    <mat-select formControlName="role">
                                        <mat-option value="admin">Admin</mat-option>
                                        <mat-option value="user">User</mat-option>
                                    </mat-select>
                                </div>
                            </div>

                            <button *ngIf="!isAdmin()" mat-raised-button
                                (click)="update($event)" class="btn btn-danger pull-right">Update
                            </button>

                            <button *ngIf="isAdmin()&&isAdd()" 
                                mat-raised-button (click)="addNewUser($event)" class="btn btn-danger pull-right">Add
                            </button>

                            <button *ngIf="isAdmin()&&isEdit()" 
                                mat-raised-button (click)="updateCurrentUser($event)"
                                class="btn btn-danger pull-right">Update
                            </button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--<div [hidden]="!submitted">-->
    <!--<h4>You submitted successfully!</h4>-->
    <!--<button class="btn btn-success" (click)="continue()">Continue</button>-->
    <!--</div>-->
</div>